body {
    margin: 0;
    padding: 0;
    /*min-width: 1078px;*/
    /*width: 100%;*/
}
/*引入头部*/
.header_top {
    width: 100%;
    height: 97px;
    min-height: 97px;
    min-width: 1078px;
}
/*轮播图*/
.bigbox > .banner > ul > li > ul > a > img {
    opacity: 1;
}
.bigbox > .banner > ul > li > a > img.show {
    opacity: 0;
    transition: all .5s linear;
}
/*箭头*/
.bigbox >.banner> a>span.zuoji{
    width: 28px;
    height:50px;
    background: url("../images/bg15.png");
    position: absolute;
    top: 235px;
    left: 452px;
    display: inline-block;
}
.bigbox >.banner> a>span.youji{
    width: 28px;
    height:50px;
    background: url("../images/bg15.png") right top;
    position: absolute;
    top: 235px;
    left: 1385px;
    display: inline-block;
    z-index: 50;
    /*background-color: #000;*/
    /*opacity: 0.5;*/
    /*border-radius: 3px;*/
}
.banner {
    width: 100%;
    height: 680px;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
}
.header_top {
    width: 100%;
    height: 63px;
    min-height: 63px;
    min-width: 100%;
    position: fixed;
    z-index: 50;
    top:0;
}
.bigbox {
    /*width:1920px;*/
    height: 688px;
    /*position: relative;*/
    /*border:1px solid red;*/
    margin-top: 63px;
}
.bigbox > .banner > ul {
    list-style: none;
    width: 9600px;
    margin: 0;
    padding: 0;
    position:absolute;
    top:0;
}
.bigbox > .banner > ul > li {
    float: left;
}
/*星巴克*/
.banner_h1 {
    width: 100%;
    /*border:1px solid red;*/
    position: relative;
    top: -210px;
    height: 210px;
}
.banner_h1>.png{
    width:100%;
    height:215px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    background: url("../images/sh.jpg") repeat-x;
    opacity: 0.5;
}
h1 {
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    position: relative;
    top:-210px;
}
form {
    position: relative;
    top: -145px;
    left: 200px;
    border-radius: 3px;
}
.input {
    width: 188px;
    height: 28px;
    border-radius: 3px;
}
.input_1 {
    width: 70px;
    height: 28px;
    color: #fff;
    background: #333;
    border: 0px;
}
.main {
    width: 100%;
    /*border: 1px solid red;*/
    background: url("../images/bg2.png") repeat-y center top
}
.main {
    width: 100%;
    background: url("../images/bg2.png") repeat-y center top;
}
.main_z {
    width: 974px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 20px;

}
.main>.main_z>.main_zuop p{
    float: right;
    color: #828282;
    font-size: 10px;
    list-style: none;
    margin: 0;
    line-height: 29px;
    font-weight:bold;
}
.main>.main_z>.main_zuop>p>a{
    color:#828282;
    text-decoration: none;
}
.main>.main_z>.main_zuop>p>a:hover{
    color:#000000;
}
/*最新作品*/
.main>.main_z>.main_zuix{
    width: 900px;
    height:36px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    position:relative;
}/*/红色边框*/
.main>.main_z>.main_zuix>a.main_a{
    display: inline-block;
    width:14px;
    height:14px;
    background: url(../images/bg101.gif);
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
}
.main>.main_z>.main_zuix>a.main_a_1{
    display: inline-block;
    width:14px;
    height:14px;
    background: url(../images/bg101.gif) -14px 0;
    position:absolute;
    right: 0;
    top:10px;
    z-index: 2;
}
.main>.main_z>.main_zuix>ul{
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.main>.main_z>.main_zuix>ul>li{
    float:left;
    display: inline-block;
    width:180px;
    height:36px;
}
.main>.main_z>.main_zuix>ul>li>a{
    text-decoration: none;
    color:#aaa;
    background: url(../images/bg103.gif) no-repeat 170px 11px;
    display: inline-block;
    width:180px;
    height:36px;
}
.main>.main_z>.main_zuix>ul>li>a.hszt{
    color: #000000;
    background: url(../images/bg104.gif) no-repeat 170px 11px;
    z-index: 2;
}
.main>.main_z>.main_zuix>ul>li>a>i{
    display: block;
    width: 180px;
    height:16px;
    text-align: center;
    border-bottom:1px dotted #aaa ;
}
.main>.main_z>.main_zuix>ul>li>a>b{
    display: block;
    width: 180px;
    height:16px;
    text-align: center;
}
.main>.main_z>.main_zuix>ul>li>a:hover{
    color:#000;
    background: url(../images/bg104.gif) no-repeat 170px 11px;
    z-index: 3;
}


/*楼层*/
.main>.main_z>.td{
    width:100%;
    /*height:800px;*/
    /*border:1px solid red;*/
    margin-top: 25px;
    padding-bottom: 10px;
}
.main>.main_z>.td>.td_mx{
    width: 100%;
    height: 36px;
    border-bottom:1px solid #ccc;
    margin-bottom: 55px;
}
.main>.main_z>.td>.td_mx>b{
    display: block;
    font-size: 26px;
    text-align:center;
}
.main>.main_z>.td>.td_img{
    width: 100%;
    height:100%;
    border-bottom:1px solid #ccc;
    padding-bottom: 30px;
}
.main>.main_z>.td>.td_img>img{
    display: block;
    margin: 0 auto;
}







/*引入底部*/
.tfoot_YR {
    /*width: 1912px;*/
    /*height: 424px;*/
    /*margin-left: -7px;*/
    width: 100%;
    height: 97px;
    min-height: 409px;
    min-width: 1078px;
}
#zuoguajian{
    width: 140px;
    height: 220px;
    /*border: 1px solid red;*/
    background: url(../img/21229159_220368_20180409171030.jpg);
    background-color: white;
    position: fixed;
    top:215px;
    left: 0;
    transition:all 1s linear;
}
#youguajian{
    width: 150px;
    height: 150px;
    /*background: url(img/);*/
    background-color: white;
    position: fixed;top:215px;
    right: 0;
}
